@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
body {
  @apply bg-white font-body;
}

body *:focus {
  @apply outline-none;
}

.max-w-7xl {
  max-width: 76rem;
}

.indent {
  text-indent: 1.5rem;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@responsive {
  .px-14 {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
